
  <div class="headerOne">
        <div class="row">
                <div class="col-xs">
                    <p class="sen">
                  Sentry
                </p>
                </div>
                <div class="col-xs">
                        <p class="sen">
                    Customer/Subscription ID {{save.token}}
                    </p>
                  </div>
                  <div class="col-xs">
                      <button class="btn btn-primary" routerLink="/dash" style="font-weight: bold !important;">Save and Exit</button>
                    </div>
              </div>
</div>



  <div class="content">
    <h6>Main Phone to receive texts and download App</h6>

    <div class="row">
      <div class="col-xs">
          <strong>Phoner Number</strong>
      </div>
      <div class="col-xs">
        <strong>Enter Code</strong>
        </div>
        <div class="col-xs">
        <strong>Message</strong>
          </div>
    </div>

    <div class="row">
        <div class="col-xs">
            <input type="tel" id="formFields_10" size="35">
            <button class="btn btn-primary">Add</button>
        </div>
        <div class="col-xs">
            <input type="text" id="formFields_3" placeholder="Code received" size="25">
            <button class="btn btn-primary">Validate</button>
          </div>
          <div class="col-xs">
              <p>Validated</p>
            </div>
      </div>


    <h6>Additional Phones (max 3 more)</h6>

    <div class="row">
        <div class="col-xs">
            <input type="tel" id="formFields_10" size="35">
            <button class="btn btn-primary">Add</button>
        </div>
        <div class="col-xs">
            <input type="text" id="formFields_3" placeholder="Code received" size="25">
            <button class="btn btn-primary">Validate</button>
          </div>
          <div class="col-xs">
              <p>Validated</p>
            </div>
      </div>

      <div class="row">
          <div class="col-xs">
              <input type="tel" id="formFields_10" size="35">
              <button class="btn btn-primary">Add</button>
          </div>
          <div class="col-xs">
              <input type="text" id="formFields_3" placeholder="Code received" size="25">
              <button class="btn btn-primary">Validate</button>
            </div>
            <div class="col-xs">
                <p>Validated</p>
              </div>
        </div>

        <div class="row">
            <div class="col-xs">
                <input type="tel" id="formFields_10" size="35">
                <button class="btn btn-primary">Add</button>
            </div>
            <div class="col-xs">
                <input type="text" id="formFields_3" placeholder="Code received" size="25">
                <button class="btn btn-primary">Validate</button>
              </div>
              <div class="col-xs">
                  <p>Validated</p>
                </div>
          </div>
  </div>