<!-- 
<div class="main-container">
    
    <header class="header header-top">
        <button class="btn btn-primary" style="margin: 0 auto" routerLink="/register">REGISTER</button>
 
      </header>

      <div class="content-container">
          <div class="content-area">
        
          </div>
        
      </div>

      </div> -->
      <router-outlet></router-outlet>
<style>
  /* .header {
  width: 100%;
  height: auto !important;
  position: fixed !important;
  top: 0;
  bottom: auto;
  background-color: antiquewhite !important;
  margin: 0 auto !important;
  padding: 10px !important;
}   */
.header.header-top {

margin: 0 auto;
width: 100%;
height: 22px !important;
padding: 10px;

}
</style>