<div class="headerOne">
        <div class="row">
                <div class="col-xs">
                    <p class="sen">
                  Sentry
                </p>
                </div>
                <div class="col-xs">
                        <p class="sen">
                    Customer/Subscription ID {{save.token}}
                    </p>
                  </div>
                  <div class="col-xs">
                      <button class="btn btn-primary" routerLink="/dash" style="font-weight: bold !important;">Refresh</button>
                    </div>
              </div>
</div>

<div class="main-container">
 
   
  
<div class="content-container">
      <div class="content-area">
        <div class="row">
          <div class="col-xs" style="border: 1px solid grey;
          padding: 10px;">
              <span>
                <p class="paragraph">
                 Sentry*Subscription*Level:*Prem ium 0– 100,0000im ages0per0m onth
                  Refresh
                  Data/Im ages*used/allocated
                </p>
              </span>
          </div>
          <div class="col-xs" style="border: 1px solid grey;
          padding: 10px;">
            <p class="heading" style="font-weight: bold;">Your Registered Phone to receive Alerts:</p>
              <ol class="list">
                  <li>+1 (408)1234567</li>
                  <li>+1*(650)1234567</li>
                  <li>+1*(650)1234567</li>
                  <li>+1*(650)123567</li>
                  </ol>
          </div>
          
      </div>




<table class="table">
  <thead>
      <tr>
          <th>Your Configured Cameras:</th>
          <th>Opr Status</th>
          <th>Motion Alerts</th>
          <th>Human Alerts</th>
          <th>Usage</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Front*Rm:*</td>
          <td>Connected</td>
          <td>20040</td>
          <td>251</td>
          <td>
                <div class="progress top">
                        <progress value="70" max="100">70%</progress>
                    </div>
          </td>
      </tr>
      <tr>
          <td>Front*Door:*</td>
          <td>Connected</td>
          <td>20040</td>
          <td>251</td>
          <td>
                <div class="progress top">
                        <progress value="50" max="50">50%</progress>
                    </div>
          </td>

      </tr>
      <tr>
          <td>Back*Door:*</td>
          <td>Connected</td>
          <td>20040</td>
          <td>251</td>
          <td>
                <div class="progress top">
                        <progress value="30" max="100">30%</progress>
                    </div>
          </td>
      </tr>
      <tr>
          <td>Living*Door:*</td>
          <td>Not Connected</td>
          <td>20040</td>
          <td>251</td>
          <td>
                <div class="progress top">
                        <progress value="50" max="100">50%</progress>
                    </div>
          </td>
      </tr>
  </tbody>
</table>


<div class="buttons">
  
          <button class="btn" routerLink="/choose-service">Change Service Level</button>
    

          <button class="btn" routerLink="/edit-phone">Add/Change Phone number</button>
    
 
          <button class="btn" routerLink="/add-change-camera">Add/Change Camera</button>
     

        <button class="btn" routerLink="/message">Self Diagnosis</button>


        <button class="btn" routerLink="/">Call Sentry Support</button>
        <span>
          <p class="textAcro">
            Sentry's camera instruction
          </p>
            <img src="../../assets/pdf.png" class="logo">
         </span>
   
</div>


<div class="row">
    <div class="col-xs">
      
    </div>
</div>



      </div>
    
  </div>
</div>


