.col-xs {
    text-align: center;
}
.content {
    border-style: outset;
    padding: 30px;
    margin-top: 60px;
}
.headerOne {

    color: white;
    background-color: #007cbb;
    font-weight: bold;
    margin: 0 auto;
    vertical-align: middle;

}
.sen {

    color: white;
    font-weight: bold;
    margin-top: 12px;

}