

  <div class="headerOne">
        <div class="row">
                <div class="col-xs">
                    <p class="sen">
                  Sentry
                </p>
                </div>
                <div class="col-xs">
                        <p class="sen">
                    Customer/Subscription ID {{save.token}}
                    </p>
                  </div>
            
              </div>
</div>

<div class="content">
   
        <span class="contentOne">
          <p class="paraGraph">
              Your Sentry Custom er/Subscription ID is__________.Please keep note of this inform ation for future
              communications.
          </p>
        </span>
  
    


        <span class="contentTwo">
          <p class="paraGraph">
              Please proceed to add phone numbers to receive texts and im ages(and/or install our Sentry mobile App).
              Then add the cameras you want to monitor from Sentry.
          </p>
        </span>


<div class="row" style="margin-top: 60px;">
    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/edit-phone">Add/Change Phone Numbers</button>
             
        </span>
    </div>
    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/add-change-camera">Add/Change Cameras</button>
             
        </span>
    </div>
    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/register">Logout</button>
             
        </span>
    </div>
    
</div>

</div>