
<div class="text">
    <p>Our%Analytics%M obile%App%
            %will%continually%
            show%your%data%usage%trends.%
            b%App%here</p>
</div>

<div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
    

            <div class="row">
                <div style="margin: 0 auto;" class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            Sentry
                        </div>
                        <div class="card-block">
                            <div class="card-title">
                                Choose Sentry Service Level
                            </div>
                            <div class="card-text">
                              <div class="form-group">
                              
                                <div class="radio">
                                    <input type="radio" name="gridRadio
                                    s" id="checkrads_9">
                                    <label for="checkrads_9">Basic Tier($4.99 per month)</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="gridRadios" id="checkrads_10" checked>
                                    <label for="checkrads_10">Premium Tier($19.99 per month)</label>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card-footer" >
                            <button class="btn btn-sm btn-link" style="align-content: center !important">
                              Payment</button>
                              <button class="btn btn-sm btn-link" (click)="backClicked()" style="align-content: center !important">
                                  Cancel</button>
                              
                        </div>
                    </div>
                </div>
              </div>


        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>






