

  <div class="headerOne">
        <div class="row">
                <div class="col-xs">
                    <p class="sen">
                  Sentry
                </p>
                </div>
                <div class="col-xs">
                        <p class="sen">
                    Customer/Subscription ID {{save.token}}
                    </p>
                  </div>
         
              </div>
</div>

<div class="row">
    <div class="col-xs">
        <span>
          <p>
              Your%Cam eras%have%been%added%to%Sentry.%Please%refer%to%your%cam era%m anufacturer’s%instructions%to%get%
              access%to%the%cam era%M obile%App%or%Web%App%screen%and%add%the%additional%configuration%steps%as%per%the%
              Sentry%instructions%sheet%in%the%pdf.
          </p>
        </span>
    </div>
    
</div>
<div class="row">
    <div class="col-xs">
        <span>
          <p>
              Once%your%cam era%is%setup,%m ove%in%front%of%cam era%to%verify%if%you%get%the%text.
          </p>
        </span>
    </div>
    
</div>
<div class="row">
    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/edit-phone">Add/Change Phone Numbers</button>
             
        </span>
    </div>
    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/add-change-camera">Add/Change Cameras</button>
             
        </span>
    </div>
    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/">Self diagnosis</button>
             
        </span>
    </div>

    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/">Call Sentry 
              Support</button>
             
        </span>
    </div>

    <div class="col-xs">
        <span>
            <button class="btn btn-primary" routerLink="/register">Logout</button>
             
        </span>
    </div>
    <div class="col-xs">
        <span>
            camera ins
             
        </span>
    </div>
    
</div>